.form-container {
    width: 400px;
    background: rgba(72, 216, 213, 0.1);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(72, 216, 213, 0.2);
    padding: 2rem 1.5rem;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 12px;
    color: var(--text-primary);
    font-family: "Inter", sans-serif;
    background-color: rgba(15, 23, 42, 0.5);
    border: 1px solid var(--border-color);
    transition: all 0.2s ease;
  }
  
  .form-container .form-group textarea {
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 12px;
    resize: none;
    color: var(--text-primary);
    height: 96px;
    border: 1px solid var(--border-color);
    background-color: rgba(15, 23, 42, 0.5);
    font-family: "Inter", sans-serif;
    transition: all 0.2s ease;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: var(--accent-color);
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: var(--accent-color);
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
  }
  
  .form-container .form-submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: 500;
    width: 100%;
    background:  rgba(59, 130, 246, 0.1);
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    gap: 8px;
    margin-top: 0.5rem;
    cursor: pointer;
    border-radius: 12px;
    transition: all 0.2s ease;
  }
  
  .form-container .form-submit-btn:hover {
    background:  rgba(59, 130, 246, 0.3);
    transform: translateY(-1px);
    /* box-shadow: 0 10px 20px rgba(16, 185, 129, 0.3); */
  }
  
  
  
  